body {
    background-image: url(pildid/kutsu_buss.jpg);
    background-color: rgb(61, 55, 53);
    background-size: cover;
    background-position: center;
}

main {
    height: 1000px;
    text-align: center;
    margin-top: 40px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

h1 {
    font-size: 84px;
    color: rgb(255, 232, 25);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: rgb(251, 255, 37);
    font-family: Arial, Helvetica, sans-serif;
}
section {
    height: 600px;
}